<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826664857193-llcu7n2cuhkna9v030a5vji3rofk65e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826664857193-llcu7n2cuhkna9v030a5vji3rofk65e6</string>
	<key>API_KEY</key>
	<string>AIzaSyBgHiK9STwj1k6L4E3eYIoMLLsGk7m1cJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826664857193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onedare.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>randomusers-3c8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>randomusers-3c8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826664857193:ios:f2888a3cf489d6f8e83cf8</string>
</dict>
</plist>